/* ===== MAIN ===== */
.main {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
}

/* ===== ALL PAGE ===== */
.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* ===== SIDE BAR ===== */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    height: 100%;
    width: 20%;
    border-right: 2px solid #fff;
}

.banner {
    height: auto;
    width: 100%;
    position: static;
    border-bottom: 7px solid #F2E601;
}

.banner img {
    height: 100%;
    width: 100%;
}

.sidebar .text {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcome {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #797979;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
    height: 70px;
    width: 100%;
    border-bottom: 4px solid #161616;
    color: #fff;

    cursor: pointer;
}

.quiz:hover {
    background-color: #e9e14f;
    color: #000;
}

.jogomemoria {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #797979;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
    height: 70px;
    width: 100%;
    padding: 0 22px;
    border: none;
    color: #fff;

    cursor: pointer;
}

.jogomemoria:hover {
    background-color: #e9e14f;
    color: #000;
}

.logo-sidebar {
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.logo-sidebar img {
    height: auto;
    width: 80%;
}

/* ===== DASHBOARD ===== */
.dash-geral {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    color: white;
}

/* ===== BLOCKS ===== */
.dash-quiz, .dash-jogomemoria {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 70px;
}

/* ===== KPIs ===== */
.kpi-1, .kpi-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kpi-quiz, .kpi-jogomemoria {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* ===== KPIs BOX ===== */
.kpi-correct-asw, .kpi-wrong-asw {
    width: 150px;
    padding: 15px 0;
    background-color: #000;
    border: 2px solid #F2E601;
    border-radius: 5px;
    text-align: center;
}

.kpi-correct-asw .text, .kpi-wrong-asw .text {
    font-size: 18px;
    margin-bottom: 5px;
}

.kpi-correct-asw .number {
    color: #3cff00;
    font-size: 26px;
    font-weight: bold;
}

.kpi-wrong-asw .number {
    color: #ff2b2b;
    font-size: 26px;
    font-weight: bold;
}

/* ===== GRAPHS ===== */
.graph-quiz {
    width: 75%;
}

.graph-quiz h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
}