/* ===== MAIN ===== */
.main {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
}

/* ===== ALL PAGE ===== */
.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* ===== DASHBOARD ===== */
.dash-geral {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    color: white;
}

/* ===== BLOCKS ===== */
.dash-quiz, .dash-jogomemoria {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 70px;
}

/* ===== KPIs ===== */
.kpi-1, .kpi-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kpi-quiz, .kpi-jogomemoria {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* ===== KPIs BOX ===== */
.kpi-correct-asw, .kpi-wrong-asw {
    width: 150px;
    padding: 15px 0;
    background-color: #000;
    border: 2px solid #F2E601;
    border-radius: 5px;
    text-align: center;
}

.kpi-correct-asw .text, .kpi-wrong-asw .text {
    font-size: 18px;
    margin-bottom: 5px;
}

.kpi-correct-asw .number {
    color: #3cff00;
    font-size: 26px;
    font-weight: bold;
}

.kpi-wrong-asw .number {
    color: #ff2b2b;
    font-size: 26px;
    font-weight: bold;
}

/* ===== GRAPHS ===== */
.graph-quiz {
    width: 45%;
}

.graph-quiz h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
}