.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 100px;
}

/* ===== CONTENT ===== */
.content {
    display: none; /* APARECE APÓS INICIAR O QUIZ */
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content-screen {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* ===== START SCREEN ===== */
.back-form {
    margin-top: 60px;
    margin-left: 20%;
    height: 70%;
    width: 40%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #000;
    flex-direction: column;
}

.start-form {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    display: flex; /* SOME APÓS INICIAR O QUIZ */
    align-items: center;
}

.start-button input[type="button"] {
    background-color: #F2E601;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 100px;
}

.start-button input[type="button"]:hover {
    background-color: #e9e14f;
    transform: scale(1.05);
}

/* ===== LEFT PART ===== */
.quiz-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.title {
    height: 20%;
    width: 100%;
}

.image {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 80%;
    height: 100%;
}

/* ===== RIGHT PART ===== */
.quiz-right {
    display: flex; /* APARECE APÓS INICIAR O QUIZ */
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 40%;
}

.form {
    height: 100%;
    width: 100%;
}

.question {
    margin-top: 0;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.opt1,
.opt2,
.opt3,
.opt4 {
    display: flex;

    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;

    background-color: #D9D9D9;
    height: 40px;
    align-items: center;
    width: 95%;
    border-radius: 10px;
}

/* ===== ALL BUTTONS ===== */
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    gap: 18px;
    justify-content: space-evenly;
}

.button input[type="button"] {
    width: 30%;
    display: flex;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* ===== NEXT BUTTON ===== */
.button input[value="Próximo"] {
    background-color: #F2E601;
    color: #000;
}

.button input[value="Próximo"]:hover {
    background-color: #e9e14f;
}


/* ===== RETURN BUTTON ===== */
.button input[value="Retorna"] {
    background-color: #F2E601;
    opacity: 50%;
    color: #000;
}

.button input[value="Retorna"]:hover {
    background-color: #e9e14f;
    opacity: 80%;
}

/* ===== FINISH BUTTON ===== */
.button input[value="Enviar"] {
    background-color: #e9e14f;
    color: #000;
}

.button input[value="Enviar"]:hover {
    background-color: #ffffff;
    color: #F2E601;
}