* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #161616;
    font-family: 'Poppins', sans-serif;
}

.main {
    flex: 1;
}

 /* ===== TITLE ===== */
h1 {
    color: #F4F4F4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-left: 50px;
    height: 70px;
}

/* ===== SUB-TITLE ===== */
h2 {
    color: #F4F4F4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    padding-bottom: 70px;
}

/* ===== TEXT ===== */
p {
    color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}

a {
    color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}

/* ===== HEADER ===== */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ===== GREY-HEAD ===== */
.grey-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #161616;
    height: 45px;
    width: 100%;
    padding: 0 30px;
    gap: 20px;
}

.shortcut_header {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.logo-header {
    height: 70px;
    width: auto;
}

/* ===== BLACK-HEAD ===== */
.black-head {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #0e0e0e;
    height: 60px;
    width: 100%;
    gap: 40px;
    border-bottom: 3px solid #C31FDD;
}

.black-head a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.2s;
}

.black-head a:hover {
    color: #c256d3;
}